{% extends 'base.html.twig' %}

{% block title %}Hello ChargeITMainPageController!{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table,th,td { border:1px solid black; text-align: center; }
</style>

<div class="example-wrapper">
    <div class="d-grid gap-2 col-6 mx-auto mb-2" style="width:50%">
        <h3 style="text-align:center">Station List</h3>
    </div>
    <div id="stationdiv" class="container-md">
        <table class="table table-responsive align-middle table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Statie</th>
                <th scope="col">Locatie</th>
                <th scope="col">Tip</th>
                <th scope="col">Output</th>
            </tr>
            </thead>
            <tbody>
            {% for row in station %}
                <tr>
                    <td>
                        <a class="btn btn-dark" href="/view/station/{{ row.uuid }}">View</a>
                        <a class="btn btn-dark" href="/booking/create/{{ row.id }}">Book</a>
                    </td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.location }}</td>
                    <td>
                        {% if row.id in plug|keys %}
                            {% for row2 in plug[row.id] %}
                                {{ row2.type }}
                                <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row.id in plug|keys %}
                            {% for row2 in plug[row.id] %}
                                {{ row2.max_output }}
                                <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
