{% extends 'base.html.twig' %}

{% block title %}Hello ChargeITMainPageController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table,th,td { border:1px solid black; text-align: center; }
</style>

    <form style="text-align:center;" action="{{ path('app_create_station') }}">
        <input type="submit" value="Create Station" />
    </form>
    <div id="stationdiv" class="container-md">
        <table class="table table-responsive align-middle table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Statie</th>
                <th scope="col">Locatie</th>
                <th scope="col">Tip</th>
                <th scope="col">Output</th>
            </tr>
            </thead>
            <tbody>
            {% for row in station %}
                <tr>
                    <td>
                        <a class="btn btn-dark" href="/view/station/{{ row.uuid }}">View</a> <br>
                        <a class="btn btn-dark" href="/admin/edit/station/{{ row.uuid }}">Edit</a>
                        <a class="btn btn-dark" href="/admin/delete/station/{{ row.uuid }}">Delete</a>
                    </td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.location }}</td>
                    <td>
                            {% for plug in row.getPlugs() %}
                                {{ plug.type }}
                                <br>
                            {% endfor %}
                    </td>
                    <td>
                            {% for plug in row.getPlugs() %}
                                {{ plug.max_output }}
                                <br>
                            {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
