{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ChargeIT</a>
        <a class="navbar-brand mb-0 h1">{{ app.user.name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_chargeit_main_page_user' ? 'active' }}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_create_car' ? 'active' }}" href="/create/car">Create Car</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_booking_management' ? 'active' }}" href="/booking/management">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}