{% extends 'base.html.twig' %}

{% block title %}Hello AdminEditStationController!{% endblock %}

{% block content %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table,th,td { border:1px solid black; text-align: center; }
    </style>

    <div id="formdiv" class="container-md">
        {{ form_start(form) }}
        <div class="input-group">
            <div class="col-xs-2">
            <label for="name">Name</label>
                {{ form_widget(form.name, {'attr': {'id':'name','class':'form-control','placeholder': 'Statia Cool B)'}}) }}
            </div>
        </div>
        <div class="input-group">
            <div class="col-xs-3">
                <label for="location">Location</label>
            {{ form_widget(form.location, {'attr': {'id':'location','class':'form-control','placeholder': 'Location'}}) }}
            </div>
        </div>
        <div class="mt-3 mb-3">
        <a class="btn btn-outline-dark" href="/admin/create/plug/{{ station.id }}">Create plug</a>
        </div>
            <table class="table table-responsive align-middle table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Plug Id</th>
                    <th scope="col">Tip</th>
                    <th scope="col">Output</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row2 in plug %}
                    <tr>
                        <td>{{ row2.id }}</td>
                        <td>{{ row2.type }}</td>
                        <td>{{ row2.max_output }}</td>
                        <td>
                            {% if row2.status==1 %}
                                ON
                            {% else %}
                                OFF
                            {% endif  %}
                        </td>
                        <td><a class="btn btn-dark" href="/admin/edit/plug/{{ row2.id }}">Edit</a>
                            <a class="btn btn-dark" href="/admin/delete/plug/{{ row2.id }}">Delete</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <button type="submit" class="btn">Edit</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
