{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block content %}
<script>
        var capacities = {{ capacities|json_encode()|raw }}
        var plugs = {{ plugs|json_encode()|raw }}
</script>
    <script src="/assets/booking/script.js"></script>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if errors|default %}
        <p>An error has occurred: </p>
        <p style="color:red;">{{ errors }}</p>
    {% endif %}
    {{ form_start(form) }}
    <div class="col-5">
        <label for="booking_duration">Start Time</label>
        <div class="input-group mb-2">
            {{ form_widget(form.start_time, {'value':'now'|date()}) }}
        </div>
    </div>
    <div class="col-5">
        <label for="booking_duration">Duration</label>
        <div class="input-group mb-2">
            {{ form_widget(form.duration, {'attr': {'id':'duration','min':0,'maxlength':'3'}}) }}
            <span class="input-group-text">minutes</span>
        </div>
    </div>
    <div class="col-5">
        <label for="booking_car">Car</label>
        <div class="input-group mb-2">
            {{ form_widget(form.car, {'attr': {'id':'car','onchange':'calculateDuration()'}}) }}
        </div>
    </div>
    <div class="col-5">
        <label for="booking_plug">Plug</label>
        <div class="input-group mb-2">
            {{ form_widget(form.plug, {'attr': {'id':'plug','onchange':'calculateDuration()'}}) }}
        </div>
    </div>
        <div class="col-4">
            <label for="battery">Battery Charge</label>
            <div class="input-group mb-2">
            {{ form_widget(form.battery, {'attr': {'id':'battery','maxlength':'3','onchange':'calculateDuration()'}}) }}
            <span class="input-group-text">%</span>
            </div>
        </div>


    {{ form_errors(form) }}

    {% if app.request.attributes.get('_route')=='app_create_booking' %}
    <button type="submit" class="btn">Create</button>
    {% else %}
    <button type="submit" class="btn">Edit</button>
    {% endif %}
    {{ form_end(form) }}
</div>
{% endblock %}
