{% extends 'base.html.twig' %}

{% block title %}Hello BookingManagementController!{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}
    {% set dateFormat = 'Y-m-d h:i A' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table,th,td,.bookingh { text-align: center; }
</style>
    <h3 class="bookingh">My Bookings</h3>
    <div id="bookdiv" class="container-lg">
        <table class="table table-responsive align-middle table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Plate</th>
                <th scope="col">Plug ID</th>
                <th scope="col">Plug Type</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
        {% for row in booking %}
            <tr>
            <th>{{ row.id }}</th>
            <th>{{ row.car.plate }}</th>
            <th>{{ row.plug.id }}</th>
            <th>{{ row.plug.type }}</th>
            <th>{{ row.starttime|date(dateFormat) }}</th>
            <th>{{ row.starttime|date_modify(+row.duration~'minutes')|date(dateFormat) }}</th>
            <th>{{ row.duration }}</th>
            <th><a class="btn btn-dark" href="/booking/delete/{{ row.id }}">Delete</a></th>
            </tr>
        {% endfor %}
            </tbody>
    </table>
    </div>
{% endblock %}
